.booking-container {
    display: flex;
    flex-direction: column;
}

.booking-container > * {
    width: 100%;
}

table {
    width: 100%;    
}

th.mat-sort-header-sorted {
    color: black;
}

.example-icon {
    padding: 0 14px;
}

.example-spacer {
    flex: 1 1 auto;
}